<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>eGator</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="index.html">eGator</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <span style="color: white;" th:text="${firstName} + ' ' + ${lastName}"></span>
            </div>
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdown" th:href="@{/login}" role="button"
                    onclick="return confirm('Are you sure you want to logout?')"><i
                        class="fa-solid fa-right-from-bracket"></i></a>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="button nav-link" th:href="@{/}" style="margin-left: -10px;">
                            <div class="sb-nav-link-icon"></div>
                            <button class="btn btn-primary">Upload <span style="margin-left: 8px;"><i
                                        class="fa-solid fa-upload"></i></span></button>
                        </a>
                        <div class="sb-sidenav-menu-heading">Attachments</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-file-lines"></i></div>
                            <span style="margin-left: 5px;">General</span>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/myfiles}">My Files</a>
                                <a class="nav-link" th:href="@{/otherfiles}">Others</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" th:href="@{/search}">
                            <div class="sb-nav-link-icon"><i class="fas fa-search"></i></div>
                            Search
                        </a>
                        <div class="sb-sidenav-menu-heading">Popular Categories</div>
                        <a class="nav-link" th:href="@{/pdf-attachments}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-file-pdf"></i></div>
                            PDF
                        </a>
                        <a class="nav-link" th:href="@{/msword-attachments}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-file-word"></i></div>
                            MS Word
                        </a>
                        <a class="nav-link" th:href="@{/image-attachments}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-file-image"></i></div>
                            Images
                        </a>
                        <a class="nav-link" th:href="@{/zip-attachments}">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-file-zipper"></i></div>
                            .zip
                        </a>
                        <div class="sb-sidenav-menu-heading">Developer</div>
                        <a class="nav-link" th:href="@{/java-attachments}">
                            <div class="sb-nav-link-icon"><i class="fa-brands fa-java"></i></div>
                            Java
                        </a>
                        <a class="nav-link" th:href="@{/python-attachments}">
                            <div class="sb-nav-link-icon"><i class="fa-brands fa-python"></i></div>
                            Python
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    <span th:text="${firstName} + ' ' + ${lastName}"></span>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="main-content">
                        <div class="attachments-table">
                            <h2 class="main-content-heading">PDF Files</h2>
                            <table class="table table-bodered">
                                <tr>
                                    <th>File Name</th>
                                    <th>Title</th>
                                    <th>Download Count</th>
                                    <th>Actions <span style="font-weight: lighter;">(Download, Comment, View)</span>
                                    </th>
                                </tr>
                                <!-- Iterate over the list of PDF attachments and display information -->
                                <th:block th:each="attachment : ${pdfAttachments}">
                                    <tr>
                                        <td th:text="${attachment.fileName}"></td>
                                        <td th:text="${attachment.attachmentDetails.title}"></td>
                                        <td th:text="${attachment.downloadCount}"></td>
                                        <td>
                                            <div>
                                                <a th:href="@{/download/{fileId}(fileId=${attachment.attachment_id})}"
                                                    style="padding: 15px;"><i class="fas fa-download"
                                                        style="height: 20px; width: 20px; color: black;"></i></a>
                                                <a th:href="@{/attachmentDetails/{fileId}(fileId=${attachment.attachment_id})}"
                                                    style="padding: 15px;"><i class="fa-solid fa-comment"
                                                        style="height: 20px; width: 20px; color: grey;"></i></a>
                                                <a th:href="@{/view/{fileId}(fileId=${attachment.attachment_id})}"
                                                    target="_blank" style="padding: 15px;"><i class="fa-solid fa-eye"
                                                        style="height: 20px; width: 20px; color: blue;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; American University of Nigeria 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
</body>

</html>